<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoDial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <AutoDial.Properties.Settings>
      <setting name="EmailIntervalByMinute" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WeiboIntervalByMinute" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EmailHost" serializeAs="String">
        <value>smtp.163.com</value>
      </setting>
      <setting name="EmaiPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailEnableSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailUsername" serializeAs="String">
        <value>iwcps_test</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>iwcps!QAZ</value>
      </setting>
      <setting name="WeiboUsername" serializeAs="String">
        <value>lurk@shinetechchina.com</value>
      </setting>
      <setting name="WeiboPassword" serializeAs="String">
        <value>Shinetech2011</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>iwcps_test@163.com</value>
      </setting>
      <setting name="EnableWeibo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailTargets" serializeAs="String">
        <value>lurk@shinetechchina.com&amp;zhuyb@shinetechchina.com&amp;yuef@shinetechchina.com&amp;yuy@shinetechchina.com&amp;wenrj@shinetechchina.com&amp;yaosl@shinetechchina.com</value>
      </setting>
      <setting name="EnableEmail" serializeAs="String">
        <value>True</value>
      </setting>
    </AutoDial.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="appKey" value="1523115311"/>
    <add key="appSecret" value="f7e06fa93f3904a6ee3a83e6d078d60b"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
