<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutoDial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <userSettings>
    <AutoDial.Properties.Settings>
      <setting name="EmailIntervalByMinute" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WeiboIntervalByMinute" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EmailHost" serializeAs="String">
        <value>smtp.163.com</value>
      </setting>
      <setting name="EmaiPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailEnableSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailUsername" serializeAs="String">
        <value>iwcps_test</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>iwcps!QAZ</value>
      </setting>
      <setting name="WeiboUsername" serializeAs="String">
        <value>lurk@shinetechchina.com</value>
      </setting>
      <setting name="WeiboPassword" serializeAs="String">
        <value>Shinetech2011</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>iwcps_test@163.com</value>
      </setting>
      <setting name="EnableWeibo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailTargets" serializeAs="String">
        <value>lurk@shinetechchina.com&amp;zhuyb@shinetechchina.com&amp;yuef@shinetechchina.com&amp;yuy@shinetechchina.com&amp;wenrj@shinetechchina.com&amp;yaosl@shinetechchina.com</value>
      </setting>
      <setting name="EnableEmail" serializeAs="String">
        <value>True</value>
      </setting>
    </AutoDial.Properties.Settings>
  </userSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\IWcps-" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="appKey" value="1523115311"/>
    <add key="appSecret" value="f7e06fa93f3904a6ee3a83e6d078d60b"/>
  </appSettings>
</configuration>